@page "{restaurantId:int}"
@model FoodApp.Pages.Restaurants.DetailModel

@{
    ViewData["Title"] = "Details";
}

<a asp-page="./List" class="btn btn-outline-secondary">Back</a>

<h1>@Model.Restaurant.Name</h1>

<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>