@page
@model FoodApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<p>
    FoodApp is a .NET Core 3.1 application built by
    Charutha Devin Bandara to use as a learning tool. The purpose of this app is to
    figure out how .NET and Razorpages work.
</p>